/*setting global*/
.login,.menu_bar
{
	-webkit-transition : 0.0s ease all;
}
html, body
{
	margin:0;
	padding: 0;
	font-family: Impact, Charcoal, sans-serif;
}

div, img
{
	-webkit-box-sizing: border-box;
}

a
{
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
}

/*pop up animation*/
@-webkit-keyframes push
{
	from{opacity: 0;}
	to{opacity: 1;}
}

/*slider animation*/
@-webkit-keyframes slide
{
	5.5% {left:0%;}
	16% {left:0%;}

	16.5% {left:-100%;}
	27% {left:-100%;}

	27.5% {left:-200%;}
	38% {left:-200%;}

	38.5% {left:-300%;}
	49% {left:-300%;}

	49.5% {left:-400%;}
	60% {left:-400%;}

	60.5% {left:-300%;}
	71% {left:-300%;}

	71.5% {left:-200%;}
	82% {left:-200%;}

	82.5% {left:-100%;}
	93% {left:-100%;}

	93.5% {left:0%;}
	100% {left:0%;}
}

/*pop up css*/
.light
{
	display: none;
	position: fixed;
	left:25%;
	top:25%;
	width:50%;
	height: 50%;
	border:red 2px solid;
	background-color: pink;
	font-weight: bold;
	text-align: center;
	z-index: 1;
}

.light:target
{
	-webkit-animation: push 1s;
}

.map
{
	width: 100%;
	height: 100%;
}

.close
{
	position: absolute;
	right: 0;
	top: 0;
	background-color: blue;
	width: 6%;
	height: 6%;
	color:white;
	z-index: 1;
}
.fade
{
	display: none;
	top:0;
	left:0;
	position: fixed;
	width:100%;
	height:100%;
	background-color: black;
	opacity: 0.7;
}

/*slider css*/
.frames
{
	overflow: hidden;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 40%;
	border:3px white solid;
}

.slider
{
	position: absolute;
	width: 500%;
	height: 100%;
	-webkit-animation:slide 60s;
	-webkit-animation-iteration-count:infinite;
}

.frame
{
	width: 20%;
	height: 100%;
	float:left;
}

.frame>img{
	width: 100%;
	height: 100%;
}

.red{
	background-color: red;
	width: 100%;
	height: 100%;
}


/*header*/
.header
{
	position: relative;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	/*background-color: #00AEEF;*/
	width: 100%;
	height: 20%;
	background: -webkit-linear-gradient(left top,#fff,#aaa,#fff);
}

.header img
{
	border-radius: 1%;
	position: absolute;
	/*border:3px white solid;*/
	background-color: rgba(0,0,0,0);
	width: 20%;
	height: 100%;
}

/*menu bar*/
.menu_bar
{
	position: absolute;
	top: auto;
	bottom: 0;
	right: 0;
	/*background-color: #00AEEF;*/
	background-color: gray;
	float:right;
	width: 80%;
	height: 20%;
	text-align: center;
	z-index: 999;
	font-size: 14pt;
	overflow: hidden;
}

.menu_bar>ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu_bar li
{
	margin:0;
	color: red;
	display: inline;
}

.menu_bar a
{
	padding-left:5%;
	padding-right:5%;
	color: white;
}

.menu_bar a:hover
{
	background-color: white;
	color:#00AEEF;
}

/*content*/
.wrapper
{
	float:right;
	width: 80%;
	height: auto;
	z-index: -1;

}

.desc
{
	margin: 1%;
	padding: 1%;
	height: auto;
	border: 3px gray solid;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12pt;
}

/*login*/
.login
{
	border-radius: 5%;
	width: 50%;
	/*max-height: 5%;*/
	overflow: hidden;
	font-size: 100%;
	color:#65CCEC;
	height: 0;
}

.middle
{
	margin-top: 60%;
}

.btn
{
	border:2px gray solid;
	width: 30%;
	text-align: center;
	color: gray;
	font-size: 20pt;
}

.login:hover
{
}

.center
{
	margin-right: auto;
	margin-left: auto;
}

.side_bar
{
	/*background: -webkit-linear-gradient(bottom, #158FBF, #43C4F7);*/
	width: 20%;
	height: 100%;
	float: left;
	background-color: white;
}

.image_holder
{
	position: relative;
	width: 10%;
	height: 10%;
	border:3px gray solid;
	display: inline-block;
}